<div id="nav">
    <ul id="nav_list">
        <li>
            <h1>@Html.ActionLink("Home","Index","Registry")</h1>              
        </li>
        <li>
           <h1>@Html.ActionLink("Manage Registry","Index","Manage")</h1>     
        </li>
        <li>         
           <h1>@Html.ActionLink("Accounts","Index","Account")</h1>      
        </li>
        <li>           
           <h1>@Html.ActionLink("Secret stuff...", "GiftStatues", "Manage")</h1>        
        </li>
    </ul>
</div>