@{
    Layout ="_NoNavLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    
    <div class="error_header">
        <img src="@Url.Content("~/Content/Images/oops_error.png")"/>
    </div>
    
    <div class="error_content">

        <p> Terribly sorry about this! Try again and if you continue to have issues, fire Amy an email and she will fix 'er right up.</p>
    </div>   
        <div>
            <div class="email_icon rightspan">
                <a href="mailto:amy@palamounta.in">Email Amy</a>
            </div>
            <div class="error_back_to_site">
                <a href="@Url.Action("Index","Registry")">
                    <img src="../../Content/Images/button_ok_will_do.png"/>
                </a>
            </div>
        </div>

</body>
</html>