 <div id="footer">
        <div id="footer-note">

            <h1>
                Website designed & built by:<br />
                <a href="#">Joanne</a> &amp; <a href="#">Amy</a>. Chur.
            </h1>
        </div>
        <div id="footer_admin">

            <p>@Html.ActionLink("Admin Login", "AdminLogin", "Admin")</p>
        </div>
 </div>

