 <div id="footer">
        <div id="footer-note">

            <h1>
                Website designed & built by:<br />
                <a href="#">Joanne</a> &amp; <a href="http://www.about.me/shitwolf">Amy</a>. Chur.
            </h1>
        </div>
     
           @Html.Partial("SignInAndOut")
     
 </div>

