
<a name="help" id="help"></a> 
    <div id="help">

        <div id="help_text">
            <p>
                <strong>Confused? Lost? Is something broken?</strong>
                <br />
                Should you wish to email us about any of the above, you can send it to:
                <div id="help_icon">
                   
                <p><a href="mailto:jo@onecutetomato.co.nz">Joanne</a></p>

            </p>

                </div> 
        </div>
 </div>


