
<a name="help" id="help"></a> 
    <div id="help">

        <div id="help_text">
            <p>
                <strong>Confused? Lost?</strong>
                <br />
                Should you wish to email us about any of the above, you can send it to:
                <div id="help_icon">
                   
                <p><a href="mailto:jo@onecutetomato.co.nz">Joanne</a></p>
                </div>

            </p>
            <p>
                <strong>Is something broken?</strong>
                <br />
                    Is the website not behaving? Any problems, send Amy an email:
                <div id="help_icon">
                   
                <p><a href="mailto:amy@palamounta.in">Amy</a></p>
                </div>
            </p>

                </div> 
        </div>
 </div>


