<div id="purchase_flag">
    <div id="purchase_text">
        <p>
            If you see an item you would like to purchase for the bride and groom, click on
            the "I'll get this" button. You'll be sent an email to confirm your intent to purchase
            the item. After you have done so, you are free to go to the store of your choice
            to make your purchase. That's all there is to it!
            <br>
            <br>
            → *What does Specific Item Required mean?
            <br>
            Cupcake ipsum dolor sit amet candy. Muffin jelly beans candy powder.
        </p>
    </div>
</div>