<div id="nav">
    <ul id="nav_list">
        <li>
            <h1>
                <a href="#">Welcome</a></h1>
        </li>
        <li>
            <h1>
                <a href="#">How it works</a></h1>
        </li>
        <li>
            <h1>
                <a href="#">The registry</a></h1>
        </li>
        <li>
            <h1>
                <a href="#">Help!</a></h1>
        </li>
    </ul>
</div>