<div id="nav">
    <ul id="nav_list">
        <li>
            <h1><a href="#welcome" class="anchorLink">Welcome</a>  </h1>              
        </li>
        <li>
            <h1><a href="#howItWorks" class="anchorLink">How it Works</a>  </h1>
        </li>
        <li>
          <h1><a href="#registry" class="anchorLink">The registry</a>  </h1>       
        </li>
        <li>
            <h1><a href="#help" class="anchorLink">Help!</a>  </h1>       
        </li>
    </ul>
</div>