 
 @if(Request.IsAuthenticated) {
   
    <p> Welcome @User.Identity.Name | @Html.ActionLink("Log Off", "LogOff", "Account")</p>
}
else {
   <p>@Html.ActionLink("Admin Login", "Logon", "Account")</p>
}
