@{
    Layout ="_NoNavLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Naughty</title>
</head>
<body>
    
    <div class="error_header">
        <img src="@Url.Content("~/Content/Images/oops_error.png")"/>
    </div>
    
    <div class="error_content">

        <p>Whos being a naughty wee bride? Sorry love, this section is not for you!</p>
    </div>   
        

</body>
</html>