<div id="welcome_text">
    </div>
    <div id="hello">
        <div id="hello_box">
            <div id="hello_box_left">
            </div>
            <div id="hello_box_right">
                <p>
                    Hi all!
                    <br>
                    <br>
                    After several requests from friends and family about gifts, Ian and I have decided
                    to set up this online gift register of ideas. Of course, we'll be grateful for anything
                    you choose, but the most important thing to us is you coming to share our wedding
                    day with us!
                    <br>
                    <br>
                    If you're worried about double-ups or colours - we'll be happy to accept exchange
                    or gift vouchers.
                    <br>
                    <br>
                    <img src="ian_jo.png" />
                </p>
            </div>
        </div>
    </div>