
.close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.modal-backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.modal 
{
  position : fixed; 
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -455px;
  z-index: 11000;
  width: 900px;
  background-color: #ffffff;
  border: 5px solid #C1E4F2;

  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal .close {
  margin-top: 7px;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}


.modal-header-flag {
   background: url(Images/modal_get_this_flag.png) no-repeat scroll 0 0 transparent;
   margin-left: -40px;
   margin-top: -27px;
   width: 431px;
   height: 65px;
}

.modal-header-text {
    padding-left: 25px;
}

.modal-header-text label {
    color: #8AC3DA;
    font-family: Museo300,sans-serif;
    font-size: 14px;
}

.modal-header-text .input {
    padding-bottom: 10px;
}

.modal-header-text .input input{
    width: 20px !important;
}

.modal-header-text p {
    color: #633B1C;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
}
		
.modal-your_details_title {
	width: 200px;
}

.modal-your_details_box {
    width: 850px;
    height: 180px;
    background-color:#e0f1f8;
    margin-left: 25px;
    margin-bottom: 25px;
    border-bottom: 5px solid #C1E4F2;
}
		
.modal-your_details_text {
	padding-top: 10px;
    padding-bottom: 10px;
}
.modal-your_details_text .input {
     padding-bottom: 10px;
}
		
.modal-your_details_text label{
	font-family: museo300,sans-serif;
	padding-left: 20px;
    width: 150px;
	color: #633B1C;
    font-size: 15px;
   	font-weight: bold;
    line-height: 130%;
}
							
.modal-your_details_button a {
    background: url(Images/button_yes.png) no-repeat left top;
    height: 50px;
    float: left;
    margin-left: 175px;
    padding: 10px 0 0 80px;
    font-family: museo300,sans-serif;
    color: #ec652a;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
}	
			
.no_wait {
   padding-left: 175px;
   width: 250px;
}
						
			
			.modal-your_details_no {
				width: 300px;
				height: 35px;
				padding-left: 200px;
				padding-top: 10px;
				}
			
				.modal-your_details_no {
					font-family: museo300,sans-serif;
					font-size: 15px;
					}
					
	.modal-your_details_thanks {
		width: 650px;
		padding-left: 226px;
		padding-top: 20px;
		}
				
		.modal-your_details_thanks p{	
			color: #633B1C;
    		font-family: Tahoma,Geneva,sans-serif;
    		font-size: 14px;
 		    margin: 0;	
			}
					

.modal-body {
  padding: 15px;
}
.modal-body form {
  margin-bottom: 0;
}
.modal-footer {
  background-color: #f5f5f5;
  padding: 14px 15px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 0;
}
.modal-footer:before, .modal-footer:after {
  display: table;
  content: "";
  zoom: 1;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn {
  float: right;
  margin-left: 5px;
}
.modal .popover, .modal .twipsy {
  z-index: 12000;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}
.fade.in {
  opacity: 1;
}