@font-face {
    font-family: "museo-slab-n5", "museo-slab",serif;
    font-weight: 500;
    font-style: normal;
    
}

body {
	background: #FFF url(Images/tile.png) repeat top center;
	margin:0;
	height: 100%;
	}

html {
	height: 100%;
	}
	
h1 {
	font-family: "museo-slab-n5", "museo-slab",serif;
	color:#FFFFFF;
	font-size:22px;
	text-align:center;
	font-weight: 500;
	}

h1 a:link, h1 a:visited { 
	color: #FFFFFF ;
	}

h1 a:hover {
	color: #c1e4f2;
	text-decoration: underline;
	}
	
h2 {
	font-family: "museo-slab-n5", "museo-slab",serif;
	font-weight: 500;
	color:#8ac3da;
	font-size:18px;
	}

a:link {
	color:#166FC3;
	text-decoration: underline;
	}
	
a:hover {
	color: #166FC3;
	text-decoration: none;
	}

a:visited {
	color: #166FC3;
	text-decoration:underline;
	}

.important_lable {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #c1e4f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* Container */

#container {
	width:900px;
	margin:0px auto;
	border-left: #C1E4F2 solid 5px;
	border-right: #C1E4F2 solid 5px;
	background-color: #FFFFFF;
	}

.right {
    float: right;
    margin-right: 25px;
}

.left {
    float: left;
    margin-left: 25px;
}
/* Header */

#header {
	background-color:#FFFFFF;
	height:232px;
	width:900px;
	margin:0px auto;
	background-image: url(Images/header_bg.gif);
	position: relative;
	}
	
	#header_flag {
		width: 788px;
		height: 174px;
		background-image:url(Images/flag_img.png);
		margin-left: -40px;
		position: absolute;
		top: 20px;
		left: 0px;
		}
		
	#date {
		width:157px;
		height:42px;
		background-image:url(Images/date.png);
		margin-right: 20px;
		margin-top: 88px;
		float: right;
		}

/* Navigation */

#nav {
	width: 900px;
	height: 49px;
	margin-top: 13px;
	}
	
	#nav_list li {
		display: inline;
		list-style-type: none;
		width: 186px;
		height: 40px;	
		background: #633b1c;
		border: 5px solid #b19d8d;
		margin-left: 10px;
		float:left;
		}
		
      #nav_list li h1 {
          margin-top: 7px;
		}

	#nav_list li a {
		text-decoration: none;
		}


/* Validation Styles*/
.validation-summary-errors {
    font-size: 13px;
    color: #633b1c;
    margin: 0;
	font-family:Tahoma, Geneva, sans-serif;
    padding-left: 9px;
    padding-top: 9px;
}

.admin_header {
    background-image: url("Images/admin_text.png");
    height: 40px;
    margin-left: 24px;
    margin-top: 43px;
    width: 214px;
}

.error_header {   
    margin-left: 24px;
    margin-top: 43px;
    width: 214px;
    height: 40px;
}

.error_content {
    color: #F71B44;
    margin-left: 24px;
    font-size: 14px;
    font-weight: bold; 
	font-family:Tahoma, Geneva, sans-serif;

}

.email_icon {
	height:17px;
	background:url(Images/email.png) no-repeat;
    margin-bottom: 50px;
    width: 200px;
    float: right;
    margin-top: 50px;
	}
	
	.email_icon a {
	    margin-left: 35px;
	}

.error_back_to_site {
    margin-bottom: 50px;
    width: 200px;
    float: left;
    margin-top: 50px;   
    margin-left: 24px;
}

.login_flag {
	width: 431px;
	height:65px;
	background:url(Images/flag_Login.png) no-repeat;
	margin-left: -40px;
	margin-top: 27px;
	}


.admin_content
{   
    width:auto;
	overflow: auto;
	margin-left: 25px;
	padding: 0px 0 8px 0;
}

.admin_content p
{
    font-size: 14px;
    color: #633b1c;
    margin: 0;
	font-family:Tahoma, Geneva, sans-serif;
    padding-top: 10px;
}


.admin_content lable {
    color: #EC008C;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    list-style-type: none;
    margin-right: 10px;
    margin-top: 30px;
    padding-right: 10px;
    padding-top: 6px;
    float: left;
    text-align: right;
}


.row {
  zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  zoom: 1;
}
.row:after {
  clear: both;
}


.span-all {
    width: 850px;
}

.span-left-half {
    float: left;
    width: 410px;
    margin-right: 5px;
}

.span-right-half {
    float: right;
    width: 410px;
    margin-left: 5px;
}


.manage_header {
    background-image: url("Images/manage_registry.png");
    height: 40px;
    margin-left: 24px;
    margin-top: 43px;
    width: 265px;
}

a.add_button {
   background: url(Images/button_add.png) no-repeat scroll top transparent;
   height: 38px;
    width: 150px;
   cursor: pointer;
   text-indent: -9999px; /* hides the link text */
   padding: 4px;
   display: block;
}
#manage_button p {
    color: #EC652A;
    font-family: museo300,sans-serif;  
	font-weight: 500;
    font-size: 15px;
    padding-left: 170px;
    padding-top: 9px;
}
#manage_button ul {
    color: #EC008C;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    list-style-type: none;
    margin-left: 10px;
    margin-top: 30px;
    padding: 0;
}



/* Page Content */		
	
#content {
	background-color:#FFF;
	width:900px;
	margin:0px auto;
	}
	
#welcome_text {
	height: 40px;
	width: 629px;
	background-image:url(Images/welcome_text.png);	
	margin-top: 43px;
	margin-left: 24px;
	}
	
#hello {
	height:250px;
	width:900px;
	margin:0px auto;	
	}

	#hello_box {
		width: 756px;
		height: 232px;
		background-color:#fbf1dc;
		margin-left: 144px;
		margin-top: 40px;
		border-bottom: #f7e4ba solid 5px;
		}
	
		#hello_box_left {
			width:120px;
			height:232px;
			background: url(Images/love_img.png) no-repeat;
			float: left;
			margin-left: -86px;
			margin-top: 13px;
			position: absolute;
			}
		
		#hello_box_right {
			width: 686px;
			height: 232px;
			padding-left: 40px;
			}
	
		#hello_box_right p {
			font-family:Tahoma, Geneva, sans-serif;
			font-size:15px;
			color: #633b1c;
			padding: 20px;
			}
	
#purchase_flag {
	width: 431px;
	background:url(Images/flag_purchase.png) no-repeat;
	margin-left: -40px;
	margin-top: 27px;
	}

	#purchase_text {
		width: 750px;
		height: 100px;
		padding-left: 66px;
		padding-top: 65px;
		}
		
		#purchase_text p {
			font-family:Tahoma, Geneva, sans-serif;
			font-size:15px;
			color: #633b1c;
			}

/* Registry starts here */

#registry_flag {
	width: 431px;
	background:url(Images/flag_registry.png) no-repeat;
	margin-left: -40px;
	margin-top: 75px;
	height: 66px;
	padding-bottom:	20px;
	}

.registry_sort {
	width: 431px;
	padding-top: 0px;
	margin-left: 25px;
    margin-bottom: 25px;
	}
	
	.registry_sort p {
		font-size: 15px;
		color: #633b1c;
		font-family:Tahoma, Geneva, sans-serif;	
		font-weight: bold;
		}
	
/* Registry Item */

.registry_container_preview {
	width: auto;
	overflow: auto;
    margin-left: -25px;
    margin-top: 10px;
	padding: 0px 0 8px 0;
	}

.registry_container {
	width: 850px;
	border-bottom: #633b1c solid 5px;
	overflow: auto;
	margin-left: 25px;
	padding: 0 0 8px 0;
	}
	
	 .first {
		border-top: #633b1c solid 5px;
		}
	
.registry_img_area {
	width: 200px;
	float: left;
	}

	.img_box {
		width: 170px;
		height: 165px;
		border: 5px solid #e8e7eb;
		margin-top: 13px;
		}

.registry_content {
	width: 650px;
	float: right;
	overflow: auto;
	min-height: 150px;
	}

.registry_title_blurb {
	width: 650px;
	float: left;
	}
	
	.registry_title_blurb h1 {
		text-align: left;
		text-size: 14px;
		color: #ec008c;
		}
		
	.registry_title_blurb p {
		font-size: 13px;
		color: #633b1c;
		margin: 0;
		font-family:Tahoma, Geneva, sans-serif;
		}
		
.registry_box_left {
	float: left;
	width: 170px;
	margin-right: 20px;
	}
	
	.registry_box_left ul {
		list-style-type: none;
		padding:0;
		font-size: 13px;
		color: #ec008c;
		top: 0;
		font-family:Tahoma, Geneva, sans-serif;
		font-weight:bold;
		line-height: 130%;
		}

	.registry_box_left li {
		font-family: "museo-slab-n5", "museo-slab",serif;		
	    font-weight: 500;
		}	

.registry_box_middle {
	float: left;
	width: 220px;
	}
	
	.registry_box_middle ul {
		list-style-type: none;
		padding:0;
		font-size: 13px;
		color: #633b1c;
		top: 0;
		font-family:Tahoma, Geneva, sans-serif;
		line-height: 130%;
		}
	
	
	.registry_box_right_edit {
	    	float: right;
	        width: 223px;
	        height: 40px;
	        margin-top: 58px;
	}
	
.registry_box_right a {
	float: right;
	width: 223px;
	height: 40px;
	margin-top: 58px;
	background: transparent url('Images/button_ill_get_this.png') no-repeat scroll 0 top;
	text-indent: -9999px;
	}

.registry_box_right a:hover {
	background: transparent url('Images/button_ill_get_this_hover.png') no-repeat scroll 0 top;
	cursor: pointer;
	}

/* Help */

#help {
	width: 431px;
	background:url(Images/flag_help.png) no-repeat;
	margin-left: -40px;
	margin-top: 69px;
	height: 66px;
	padding-bottom:	100px;
	}
	
	#help_text {
		width: 750px;
		height: 100px;
		padding-left: 66px;
		padding-top: 65px;
		}
		
		#help_text p {
			font-family:Tahoma, Geneva, sans-serif;
			font-size:15px;
			color: #633b1c;
			}
			
#help_icon {
	width: 23px;
	height:17px;
	margin-left: 25px;
	background:url(Images/email.png) no-repeat;
	}
	
	#help_icon p {
		font-family:Tahoma, Geneva, sans-serif;
		font-size:15px;
		color: #633b1c;
		margin-left: 35px;
		}


/* Page Top */

.page_top {
	font-family: "museo-slab-n5", "museo-slab",serif;	
	font-weight: 500;
	text-decoration: none;
	float: right;
	margin-right: 25px;	
	}

.page_top a {
	text-decoration: none;
	font-size: 13px;	
	}

/* Footer */
	
#footer {
	width:900px;
	height: 80px;
	background-color: #c1e4f2;
	border-top: 5px solid #e0f1f8;
	margin: 0 auto;
	margin-top: 100px;
	overflow:hidden;
	}
	
	#footer h1 {
		color: #633b1c;
		text-align: left;
		padding-left: 20px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
		display:block;
		}

	#footer a {
		color: #ec008c;
		}

#footer_note {
	float: left;
	width:300px;		
	}
		
#footer_admin {
	width: 100px;
	float: right;
	}
#footer_admin_loggedIn {
    margin-right: 10px;
	float: right;
}
	
	#footer_admin p {
		font-size: 13px;
		color: #633b1c;
		margin: 13px 0 0 0;
		font-family:Tahoma, Geneva, sans-serif;
		}	
		
		#breaker {
			float: left; 
			width: 100%;	
			height: 30px;
				}
				

  div.loading_spinner_invisible{
    display:none;
  }


  div.loading_spinner_visible{
    display:block;
    top:200px;
    width:100%;
    text-align:center;
    background:#fff;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
    opacity: 0.75;           /* fx, safari, opera */
  }

div.pagination {
    color: #633b1c;
    overflow: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    float: left;
    width: 850px;
    }

 div.pagination .leftspan {
    float: left;
    width: 200px;
 }
 
 div.pagination .rightspan {
     float: right;
 }   
 
 .pagination .page_top {
	font-family: "museo-slab-n5", "museo-slab",serif;	
	font-weight: 500;
	text-decoration: none;
	float: right;
	margin-right: 25px;	
	}

.pagination .page_top a {
	text-decoration: none;
	font-size: 13px;	
	}
.pageInformation {
    color: #633b1c;
    }
    
.pageNumbers {
    list-style: none outside none;
    margin: 0 !important;
    }
.pageNumbers li {   
    float: left;
    padding: 0 3px !important;
    }
.pageNumbers li:last-child {
    border-right: none;
    }
.pageNumbers li a {
    color: #166FC3;
    text-decoration: underline;
    }
.pageNumbers li a.prevLink {
    background: url("Images/iconArrowBlueLeft.png") no-repeat scroll left top transparent;
    padding-left: 22px;
    }
.pageNumbers li a.nextLink {
    background: url("Images/iconArrowBlue.png") no-repeat scroll right top transparent;
    padding-right: 22px;
    }
    
 .reservation_confirmed_header {
    background-image: url("Images/res_confirmed.png");
    height: 40px;
    margin-left: 24px;
    margin-top: 43px;
    width: 644px;
 }
 
 .reservation_confirmed_thank_you {
     margin-left: 24px;
     color: #ec008c;
 }
 
 .officially_reserved {
	float: right;
	width: 233px;
	height: 40px;
    margin-top: 58px;
	text-indent: -9999px;
	}

.back_to_site {
    margin-bottom: 50px;
    width: 200px;
    float: left;
    margin-top: 25px;   
    margin-left: 24px;
}

.back_to_site a {
    color: #ec008c;
}