@model Ammeep.GiftRegister.Web.Models.GiftStatusesPage

@{
    ViewBag.Title = "Shhhh";
    Layout = "../Shared/_AdminLayout.cshtml";
}



 <h2>Shhhh, this stuff is secret</h2>

<div class="admin_content">
    @Html.Partial("PendingReservationList", Model.GiftsPendingReservation)
    @Html.Partial("ReservedList", Model.GiftsConfirmedAsReserved)
    @Html.Partial("NotActiveList", Model.GiftsNotActive)
</div>
