@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Manage Registry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="manage_header"> </div>
<div class="content">
    <div class="add_button">
         @Html.ActionLink("Image","Add")
    </div>
    <div id="registry_sort">
        <p> Sort by:</p>
    </div>

    <div id="registryItemContainer">
        <div id="registryItemContainer">
            @foreach (var giftRow in Model.Gifts)
            {
                @Html.EditorFor(item => giftRow);
            }
        </div>
    </div>


</div>

