@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Manage Registry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="manage_header"> </div>
<div class="content">
    <div class="row registry_sort">
      
        <p> Sort by:</p>
    </div>
    
    <div>
        <div class="right">
            @Html.ActionLink("Image", "Add", null, new { @class = "add_button" })
        </div>
        <div class="left">    
            @Html.DropDownList("categoryDropdown", new SelectList(Model.Categories, "CategoryId", "Name", Model.SelectedCategoryId))
        </div>
    </div>
  
 

    <div class="row">
      
    </div>
    @Html.Partial("RegistryPage")

</div>
<script type="text/javascript">
     
        $('#categoryDropdown').change(function () {
            var newCategory = $("#categoryDropdown option:selected").val();
            var actionUrl ="@Url.Action("ManageRegistryPage", new { page = "0", categoryId = "CATEGORY" })";
            window.location =actionUrl.replace('CATEGORY', newCategory).concat("#registry");

        });
</script>

