@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Manage Registry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="manage_header"> </div>
<div class="content">
    <div class="row registry_sort">
      
          <p> Sort by:</p>
    </div>
    
    <div>
          <div class="right">
            @Html.ActionLink("Image", "Add", null, new { @class = "add_button" })
        </div>
        <div class="left">    
            @Html.DropDownListFor(model => model.CategoriesSelectList, Model.CategoriesSelectList, new { id = "categoryDropdown" })          
        </div>
    </div>
  
 

    <div class="row">
      
    </div>
    <div id="registryItemContainer">
        <div id="registryItemContainer">
            @foreach (var giftRow in Model.Gifts)
            {
                @Html.EditorFor(item => giftRow);
            }
        </div>
    </div>


</div>

