@model Ammeep.GiftRegister.Web.Models.ManagePageModel

@{
    ViewBag.Title = "Manage Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="manage_header"> </div>
<div class="content">
    <div id="registry_sort">
        <p> Sort by:</p>
     </div>
    @foreach (var item in Model.Gifts.Select((gift, i) => new Ammeep.GiftRegister.Web.Models.GiftRow { Item = gift, IsFirst = i == 0 }))
    {
        @Html.Partial("ManageGiftRow", item)
    }

</div>


