@model Ammeep.GiftRegister.Web.Models.WishlistPageModel

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @Html.Partial("Welcome")
 @Html.Partial("HowTo")
 
<div id="registry_flag">
</div>
<div id="registry_sort">
    <p> Sort by:</p>
 </div>
@foreach (var item in Model.GiftWishes.Select((gift, i) => new Ammeep.GiftRegister.Web.Models.GiftRow { Item = gift, IsFirst = i == 0 }))
{
    @Html.Partial("GiftRow", item)
}

@Html.Partial("Help")
@*
 <!-- Modal -->
<div id="moda" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
    <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Modal Heading</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
    </div>
</div>
*@