@using Ammeep.GiftRegister.Web.Attributes
@model string
<div class="input">
    @Html.LabelFor(model => model)
    @Html.TextAreaFor(model => model, new DataBindHtmlAttribute("value: description"))
</div>
