@using Ammeep.GiftRegister.Web.Attributes
@model string
<div class="input">
    @Html.LabelFor(model => model)
    @Html.TextBoxFor(model => model, new DataBindHtmlAttribute("value: imageLocation"))
</div>