@using Ammeep.GiftRegister.Web.Attributes
@model int
<div class="input">
    @Html.LabelFor(model => model)
    @Html.TextBoxFor(model => model, new DataBindHtmlAttribute("value: quantityRequired"))
</div>