@model dynamic

@{
    ViewBag.Title = "Thanks For Your Feedback";
    Layout = "~/Views/Shared/_FeedbackLayout.cshtml";
}
<div id="hello">
    <div id="feedback_box">
        <div id="feedback_box_left">
        </div>
        <div id="hello_box_right"> 
            <p>
                <h1 class="joanneandamy">
                    Thank you so much for visiting and letting us know what you thought!</h1>
                  <h1 class="joanneandamy">
                    You are super-duper awesome ;)
                </h1>
            </p>
        </div>
    </div>
</div>