<div id="your_details_thanks">

    <p><strong>There was an error! </strong>
        <br />Please try again...
      
        <br /><br />If you continue to have issues, fire us an email.</p>
        
<div class="no_wait">
    <br /><br /><p><a class="close">Get me out of here.</a>.</p>
</div>
</div>