<div id="your_details_thanks">

    <p><strong>There was an error! </strong>
        <br />Please try again...
      
        <br /><br />If you continue to have issues, fire us an email.</p>
       <br /> 
    <a class="close">
        <img src="../../Content/Images/button_ok_will_do.png"/>
    </a>
</div>