 @using Ammeep.GiftRegister.Web
 @model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

<div id="registryItemContainer">
    @Html.Partial("RegistryItems", Model.Gifts) 
</div>
 <div class="pagination">
     
    <div class="leftspan" >       
        @Model.PageSummary()
    </div>

     <div class="rightspan">     
         @if (Model.HasItemsToDisplay)
         {
             @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalNumberOfItems, "RegistryPage", new { categoryId = Model.SelectedCategoryId })
         }
     </div>
    
    
            
 </div>