<div id="your_details_thanks">

    <p><strong>Thank you! You're almost done! </strong>
        <br />You've been sent a confirmation email with the remaining step.
        <br /><br />Before this item will be checked off the registry you must confirm your intent to purchase 
        via email. Please check your email and follow the instructions provided.</p>
    <br/>
    
    <a class="close">
        <img src="../../Content/Images/button_ok_will_do.png"/>
    </a>
</div>